* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.clearfix {
  clear: both;
}
.header-banner {
  padding-top: 35px;
  padding-bottom: 100px;
  color: #ffffff;
  font-family: Helvetica, serif;
  font-weight: 100;
  background-image: url('https://grapesjs.com/img/bg-gr-v.png'),
    url('https://grapesjs.com/img/work-desk.jpg');
  background-attachment: scroll, scroll;
  background-position: left top, center center;
  background-repeat: repeat-y, no-repeat;
  background-size: contain, cover;
}
.container-width {
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
}
.logo-container {
  float: left;
  width: 50%;
}
.logo {
  background-color: #fff;
  border-radius: 5px;
  width: 130px;
  padding: 10px;
  min-height: 30px;
  text-align: center;
  line-height: 30px;
  color: #4d114f;
  font-size: 23px;
}
.menu {
  float: right;
  width: 50%;
}
.menu-item {
  float: right;
  font-size: 15px;
  color: #eee;
  width: 130px;
  padding: 10px;
  min-height: 50px;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
}
.lead-title {
  margin: 150px 0 30px 0;
  font-size: 40px;
}
.sub-lead-title {
  max-width: 650px;
  line-height: 30px;
  margin-bottom: 30px;
  color: #c6c6c6;
}
.lead-btn {
  margin-top: 15px;
  padding: 10px;
  width: 190px;
  min-height: 30px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 3px;
  line-height: 30px;
  background-color: #d983a6;
  border-radius: 5px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.lead-btn:hover {
  background-color: #ffffff;
  color: #4c114e;
}
.lead-btn:active {
  background-color: #4d114f;
  color: #fff;
}
.flex-sect {
  background-color: #fafafa;
  padding: 100px 0;
  font-family: Helvetica, serif;
}
.flex-title {
  margin-bottom: 15px;
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  color: #555;
  padding: 5px;
}
.flex-desc {
  margin-bottom: 55px;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 5px;
}
.cards {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
.card {
  background-color: white;
  height: 300px;
  width: 300px;
  margin-bottom: 30px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  transition: all 0.5s ease;
  font-weight: 100;
  overflow: hidden;
}
.card:hover {
  margin-top: -5px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
}
.card-header {
  height: 155px;
  background-image: url('https://via.placeholder.com/350x250/78c5d6/fff');
  background-size: cover;
  background-position: center center;
}
.card-header.ch2 {
  background-image: url('https://via.placeholder.com/350x250/459ba8/fff');
}
.card-header.ch3 {
  background-image: url('https://via.placeholder.com/350x250/79c267/fff');
}
.card-header.ch4 {
  background-image: url('https://via.placeholder.com/350x250/c5d647/fff');
}
.card-header.ch5 {
  background-image: url('https://via.placeholder.com/350x250/f28c33/fff');
}
.card-header.ch6 {
  background-image: url('https://via.placeholder.com/350x250/e868a2/fff');
}
.card-body {
  padding: 15px 15px 5px 15px;
  color: #555;
}
.card-title {
  font-size: 1.4em;
  margin-bottom: 5px;
}
.card-sub-title {
  color: #b3b3b3;
  font-size: 1em;
  margin-bottom: 15px;
}
.card-desc {
  font-size: 0.85rem;
  line-height: 17px;
}
.am-sect {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: Helvetica, serif;
}
.img-phone {
  float: left;
}
.am-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.am-content {
  float: left;
  padding: 7px;
  width: 490px;
  color: #444;
  font-weight: 100;
  margin-top: 50px;
}
.am-pre {
  padding: 7px;
  color: #b1b1b1;
  font-size: 15px;
}
.am-title {
  padding: 7px;
  font-size: 25px;
  font-weight: 400;
}
.am-desc {
  padding: 7px;
  font-size: 17px;
  line-height: 25px;
}
.am-post {
  padding: 7px;
  line-height: 25px;
  font-size: 13px;
}
.blk-sect {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #222222;
  font-family: Helvetica, serif;
}
.blk-title {
  color: #fff;
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
}
.blk-desc {
  color: #b1b1b1;
  font-size: 15px;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  font-weight: 100;
}
.price-cards {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.price-card-cont {
  width: 300px;
  padding: 7px;
  float: left;
}
.price-card {
  margin: 0 auto;
  min-height: 350px;
  background-color: #d983a6;
  border-radius: 5px;
  font-weight: 100;
  color: #fff;
  width: 90%;
}
.pc-regular {
  background-color: #da78a0;
}
.pc-enterprise {
  background-color: #d66a96;
}
.footer-under {
  background-color: #312833;
  padding-bottom: 100px;
  padding-top: 100px;
  min-height: 500px;
  color: #eee;
  position: relative;
  font-weight: 100;
  font-family: Helvetica, serif;
}
.copyright {
  background-color: rgba(0, 0, 0, 0.15);
  color: rgba(238, 238, 238, 0.5);
  bottom: 0;
  padding: 1em 0;
  position: absolute;
  width: 100%;
  font-size: 0.75em;
}
.made-with {
  float: left;
  width: 50%;
  padding: 5px 0;
}
.foot-social-btns {
  display: none;
  float: right;
  width: 50%;
  text-align: right;
  padding: 5px 0;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
}
.foot-list {
  float: left;
  width: 200px;
}
.foot-list-title {
  font-weight: 400;
  margin-bottom: 10px;
  padding: 0.5em 0;
}
.foot-list-item {
  color: rgba(238, 238, 238, 0.8);
  font-size: 0.8em;
  padding: 0.5em 0;
}
.foot-list-item:hover {
  color: rgba(238, 238, 238, 1);
}
.foot-form-cont {
  width: 300px;
  float: right;
}
.foot-form-title {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 400;
  margin-bottom: 10px;
  padding: 0.5em 0;
  text-align: right;
  font-size: 2em;
}
.foot-form-desc {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.55);
  line-height: 20px;
  text-align: right;
  margin-bottom: 15px;
}
.sub-input {
  width: 100%;
  margin-bottom: 15px;
  padding: 7px 10px;
  border-radius: 2px;
  color: #fff;
  background-color: #554c57;
  border: none;
}
.sub-btn {
  width: 100%;
  margin: 15px 0;
  background-color: #785580;
  border: none;
  color: #fff;
  border-radius: 2px;
  padding: 7px 10px;
  font-size: 1em;
  cursor: pointer;
}
.sub-btn:hover {
  background-color: #91699a;
}
.sub-btn:active {
  background-color: #573f5c;
}
.bdg-sect {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: Helvetica, serif;
  background-color: #fafafa;
}
.bdg-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 55px;
  color: #555555;
}
.badges {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.badge {
  width: 290px;
  font-family: Helvetica, serif;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  font-weight: 100;
  overflow: hidden;
  text-align: center;
}
.badge-header {
  height: 115px;
  background-image: url('https://grapesjs.com/img/bg-gr-v.png'),
    url('https://grapesjs.com/img/work-desk.jpg');
  background-position: left top, center center;
  background-attachment: scroll, fixed;
  overflow: hidden;
}
.badge-name {
  font-size: 1.4em;
  margin-bottom: 5px;
}
.badge-role {
  color: #777;
  font-size: 1em;
  margin-bottom: 25px;
}
.badge-desc {
  font-size: 0.85rem;
  line-height: 20px;
}
.badge-avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 5px solid #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  margin-top: -75px;
  position: relative;
}
.badge-body {
  margin: 35px 10px;
}
.badge-foot {
  color: #fff;
  background-color: #a290a5;
  padding-top: 13px;
  padding-bottom: 13px;
  display: flex;
  justify-content: center;
}
.badge-link {
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-weight: 700;
  background-color: #fff;
  color: #a290a5;
  display: block;
  border-radius: 100%;
  margin: 0 10px;
}
.gjs-heading {
  margin: 0;
}
#iqmwp6:hover {
  text-align: left;
}
#iqmwp6 {
  text-align: left;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  margin-left: 205px;
}
#it850f {
  text-align: left;
  margin-left: 205px;
  color: rgba(0, 0, 0, 1);
}
#ibnmpi {
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 10px;
}
#imgswk {
  color: black;
  margin-left: 205px;
}
#isvrnj {
  background-color: rgba(245, 242, 242, 1);
}
#i2hkts {
  text-align: left;
  margin-left: 205px;
  color: rgba(0, 0, 0, 1);
}
#i4ghcl {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  align-self: auto;
  flex: 0 0 auto;
  width: auto;
  min-width: 36px;
  border-top-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
}
#is3kh2 {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
  min-height: auto;
}
#iq5wth {
  width: 1080px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  height: 496px;
}
#icfjsz {
  color: black;
  width: 100%;
  height: 100%;
}
#ifexy9 {
  width: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  align-self: auto;
  min-width: 36px;
}
#io4ceg {
  background-image: url('../assets/arrowl.png');
  background-position: 50% 50%;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-origin: padding-box;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  min-height: 350px;
  display: block;
  border-top-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  min-width: 36px;
}
#i2rvlk {
  margin-right: 0px;
  margin-left: 0px;
  min-width: 36px;
  width: auto;
  background-color: rgba(214, 107, 150, 0);
}
#iy3z4k {
  width: auto;
  margin-right: 0px;
  margin-left: 0px;
  background-color: rgba(217, 130, 165, 0);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  min-width: 36px;
}
#i0q8sm {
  background-image: url('../assets/arrow.png');
  background-position: 50% 50%;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-origin: padding-box;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  min-height: 350px;
  display: block;
  border-top-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  min-width: 36px;
}
#iirswf {
  color: black;
  width: 100%;
  height: 100%;
  display: none;
}
#iw12o7 {
  color: black;
  width: 100%;
  height: 100%;
  display: none;
}
#iy6wv {
  max-width: 855px;
  margin-left: 205px;
}
#ijrkle {
  color: rgba(0, 0, 0, 1);
  font-family: Raleway;
  font-weight: 700;
}
#iachh {
  background-color: rgba(255, 255, 255, 1);
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.5) 1%,
    rgba(255, 255, 255, 0.5) 100%
  );
  background-position: 0% 0%;
  background-size: 100% 100%;
  background-repeat: repeat-y;
  background-attachment: scroll;
}
#i3l2w {
  display: none;
}
#itvoz {
  display: none;
}
#i2k6h {
  display: none;
}
#i402o {
  display: none;
}
#ilr5o {
  display: none;
}
.gjs-custom-code {
  padding: 5px;
}
.container {
  margin: 0 auto;
  width: 50%;
  padding: 20px;
}
.form-group {
  margin-bottom: 10px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type='checkbox'] {
  margin-right: 5px;
}
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
.hidden {
  display: none;
}
#feedback {
  margin-top: 10px;
  font-weight: bold;
}
button:hover {
  background-color: #45a049;
}
#iuzu51 {
  box-shadow: 0 0 10px 0 black;
}
#im6ojj {
  margin-top: 42px;
}
#i4b4x {
  display: none;
}
#iaiic {
  display: none;
}
#idgtt {
  display: none;
}
#ie67lk {
  border: 0px;
  font-variant-numeric: inherit;
  font-variant-east-asian: inherit;
  font-variant-alternates: inherit;
  font-variant-position: inherit;
  font-stretch: inherit;
  font-size: 17px;
  line-height: inherit;
  font-family: Roboto;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  margin: 0px;
  padding: 0px;
  vertical-align: baseline;
  letter-spacing: -0.2px;
  background-color: rgb(255, 255, 255);
}
#isnewo {
  border: 0px;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: 24px;
  line-height: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  margin: 0px;
  padding: 0px;
  vertical-align: baseline;
  font-family: var(--font-family-body) !important;
}
#i20coh {
  font-family: Roboto;
  font-size: 17px;
  letter-spacing: -0.2px;
  background-color: rgb(255, 255, 255);
}
#ihiwlp {
  border-top-color: rgba(0, 0, 0, 0.17);
  border-right-color: rgba(0, 0, 0, 0.17);
  border-bottom-color: rgba(0, 0, 0, 0.17);
  border-left-color: rgba(0, 0, 0, 0.17);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  margin-top: 36px;
}
.gjs-divider {
  height: 3px;
  width: 100%;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}
#icfgfu {
  height: 2px;
  margin-top: 23px;
  margin-right: 0px;
  margin-bottom: 23px;
  margin-left: 0px;
  background-color: rgba(0, 0, 0, 0.52);
}
#i0yo2p {
  margin-top: 40px;
}
#iobcsl {
  margin-top: 40px;
}
#i5o48s {
  margin-top: 40px;
}
#enviarBtn {
  margin-top: 40px;
  width: 163px;
  background-color: rgba(53, 83, 183, 1);
}
#ij0735 {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
#iak5yb {
  margin-top: 40px;
  width: 163px;
  background-color: rgba(53, 83, 183, 1);
}
.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  undefined: undefined;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
#i4jxp1 {
  height: 350px;
  width: 615px;
}
#ifcz9a {
  display: none;
}
@media (max-width: 768px) {
  .foot-form-cont {
    width: 400px;
  }
  .foot-form-title {
    width: autopx;
  }
  #ibnmpi {
    flex-wrap: nowrap;
    justify-content: center;
  }
  #ifexy9 {
    min-width: 36px;
    width: auto;
    align-self: auto;
  }
  #i2rvlk {
    width: 100%;
    background-color: rgba(214, 107, 150, 0);
  }
  #i4ghcl {
    border-top-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
  }
  #iy3z4k {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-color: rgba(255, 0, 0, 1);
    border-right-color: rgba(255, 0, 0, 1);
    border-bottom-color: rgba(255, 0, 0, 1);
    border-left-color: rgba(255, 0, 0, 1);
    width: 100%;
  }
  #io4ceg {
    border-top-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
  }
  #iq5wth {
    align-self: center;
  }
  #i0q8sm {
    border-top-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
  }
}
@media (max-width: 480px) {
  .foot-lists {
    display: none;
  }
  #ibnmpi {
    align-content: center;
    justify-content: center;
    flex-direction: row;
  }
  #io4ceg {
    opacity: 0%;
  }
  #i4ghcl {
    width: auto;
  }
  #i0q8sm {
    opacity: 0%;
  }
}
